.details {
    padding: 10px;
    transition: 0.6s;
    border: 1px solid cyan;
    border-radius: 10px;
    min-height: 360px;
  }
  .details:hover {
    box-shadow: 4px 4px 7px gray;
    border-radius: 10px;
    border: 1px solid cyan;
  }
  .product-image {
    width: 150px;
    height: 150px;
  }